<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
        <div class="col-sm-6 col-md-4 mb-5">
          <!-- Card Info -->
          <div class="card border-0 shadow-soft h-100">
            <img class="card-img-top" src="../../assets/img/480x320/img32.jpg" alt="Image Description">
            <div class="card-body p-5">
              <div class="max-width-15 w-100 mb-3">
                  <%= image_tag "https://i.imgur.com/YcP0tikb.jpg", class: "img-fluid", alt: "Office Office" %> 
              </div>
              <p class="mb-0">Netflix's mission is to create a planet run by the sun. In order to achieve this goal, they needed to find a way to make solar simple.</p>
            </div>
            <div class="card-footer bg-light border-0 py-4 px-5">
              <a href="customer-story.html">Read Story <small class="fas fa-arrow-right ml-1"></small></a>
            </div>
          </div>
          <!-- End Card Info -->

        <td><%= post.title %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
