<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<%= render "blogbody" %>
<%= render "blogsubscribe" %>

<div class="border-top py-3 my-3">
  <%= render "blogshare" %>
</div>
<%= render "blogauthor" %>

