<%= render "shared/navbar" %>
<%= render "shared/admincontrols" %>
<%= render "blogbody" %>
<%= render "blogsubscribe" %>

<div class="border-top py-3 my-3">
  <%= render "blogshare" %>
</div>
<%= render "blogauthor" %>

