<!DOCTYPE html>
<html>
  <head>
    <title>Prodinpro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="trix.css">
    <script type="text/javascript" src="trix.js"></script> 

    <meta charset="utf-8">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <%= render "shared/header" %>
    <div class="container">
      <%= render "shared/navbar" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
